* {
	border: none;
	border-radius: 0;
	/* font-family: mononoki Nerd Font Mono; */
	font-size: 12px;
	min-height: 0;
}

@import "gruvbox.css";

window#waybar {
	background: @background;
	color: @white_b;
}

#workspaces button {
	padding: 0;
	background: transparent;
	color: @white_b;
	border-bottom: 3px solid transparent;
}
#workspaces button.focused {
	background: @foreground;
	color: @background;
}
#workspaces button.urgent {
	background: @yellow_b;
	background: @orange_b;
}

#mode, #clock, #battery {
	/* padding: 0 10px; */
	/* margin: 0 5px; */
}

#mode {
	background: @red;
	border-bottom: 3px solid @white_b;
}

#clock {
	/* background-color: @orange_b; */
	/* color: @white_b; */
}

#battery {
	/* background-color: @white_b; */
	/* color: @background; */
}
#battery.charging {
	color: @background;
	background-color: @green;
}
#battery.warning:not(.charging) {
	background: @red;
	color: @white_b;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: @white_b;
		color: @background;
	}
}

#idle_inhibitor, #pulseaudio, #custom-spotify, #custom-pidgin, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
	margin: 5px 0px 5px 0px;
}

#custom-spotify {
	margin: 100px 0px 100px 0px;
}
